@import "bootstrap";

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  font-size: 1.1rem;
  font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 400;
  line-height: 1.7;

  color: #212529;

  h1, h2, h3, h4, h5, h6 {
    //font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight: 800;
    line-height: 1.2;
  }

  h1 {
    font-size: 2.8rem;
  }

  a {
    color: #212529;
    text-decoration: underline;

    &:hover {
      color: lighten(#212529, 20);
    }
  }

  .btn {
    text-decoration: none;
  }
}

.index {
  background-color: #f8f5f0;

  .border-bottom {
    border-color: #ece6da !important;
  }

  .intro {
    border-bottom: 1px solid #ece6da;

    @include media-breakpoint-up(lg) {
      border-bottom: 0;
    }

    h1 {
      font-size: 2em;

      @include media-breakpoint-up(lg) {
        font-size: 5em;
      }

    }

    .lead {
      font-size: 1.2em;

      @include media-breakpoint-up(lg) {
        font-size: 1.5em;
      }
    }
  }
}

.blogpost {
  h1 {
    text-align: center;
    font-size: 2.5em;
    margin-top: 60px;
    margin-bottom: 30px;

    @include media-breakpoint-up(lg) {
      font-size: 4em;
    }
  }

  h2 {
    margin-top: 40px;
  }

  .alignfull {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;

    @include media-breakpoint-up(lg) {
      margin-left: calc(50% - 37.5vw);
      margin-right: calc(50% - 37.5vw);
      max-width: 75vw;
      width: auto;
    }
  }
}

.footer {
  background-color: #f8f5f0;
  border-top: 1px solid #ece6da;
}
