<% wrap_layout :layout do %>
  <article class="mt-24 prose prose-indigo prose-lg text-gray-500 dark:text-slate-400 mx-auto">
    <h1 class="dark:text-white"><%= current_page.title %></h1>
    <%= yield %>
  </article>
<% end %>
