<% wrap_layout :layout do %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 mb-5 blogpost">
        <h1><%= current_page.title %></h1>
        <%= yield %>
      </div>
    </div>
  </div>

  <div class="container-fluid footer">
    <div class="row justify-content-center">
      <div class="col-lg-6 pt-5 mb-5 text-center">
        <h2>About Niklas Stephenson</h2>
        <p>I start and build companies, love great products and adventures on my motorcycle. Focus on enjoying life while never settling with the present.</p>
        <a href="/" class="btn btn-outline-dark">Read more of my posts</a>
      </div>
    </div>
  </div>
<% end %>
