---

title: Get product managers to be even more awesome
date: 2017-07-10 12:36 UTC
tags:

---

Being a product manager is one of the wides positions I know of when it comes to required skillsets. You need to be awesome at understanding and use data, talking to users, stakeholders, presenting for larger groups, running workshops, evangelizing, building a team and a lot lot more.

You can never expect a new product manager to be awesome in all areas, heck I don't even think you can expect a product manager with years of experience to excel in all areas of product management.

So what do you do when you as a leader of product managers have to help them develop? How do you and the product manager keep track of what areas they need to improve?

At Trustpilot we have been running a program for our developers that we call BEMA - Be Even More Awesome. It's basically a conversation starter managers use to have a constructive conversation with their reports about what we as a company expect their skillset to be, how the employee sees them in this mix and from there the manager and employee will have a constructive conversation about the team members skills and how the employee can develop to Become Even More Awesome.

Together the manager and the employee select one area that the employee will focus on for the next quarter. This focus area could be something like "Data Knowledge", a fairly broad area. From there its the employee's responsibility to work on getting better data knowledge, but you as a manager needs to support.

In your biweekly 1:1's you should talk about progress, talk about exercise the employee can do, what she chooses to do with her 20% time that helps her get better. Doing the week you should share articles and talk with her about the theme. Even sit down with her and help her out with her 20% projects or places where she is applying the skill to her daily work.

The tool has worked super well for the six months I have been using it. It has been an awesome conversation starter and my team members have already developed a lot within the selected areas. It has even opened my eyes for areas where my team have different views of their skills, both better or worse, then my view on them, this has helped me guide them a lot better.

You can find our <a href="/images/bema.pdf">BEMA paper here</a>, so go and test it out and become an even more awesome manager yourself!
