---

title: I have failed you

---

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-9 text-center mt-4 mb-5 page-header">
      <div class="w-75 mx-auto">
        <img alt="image" class="img-fluid" src="<%= image_path 'illustration-montster-protest.svg' %>">
        <h1>Sorry, we are out protesting.</h1>
        <p class="lead mb-4 mt-3">The page you were looking for is not here.</p>
      </div>
    </div>
  </div>
</div>
