<div class="overflow-hidden">
  <div class="relative max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
    <div class="mx-auto text-base max-w-prose lg:grid lg:grid-cols-2 lg:gap-8 lg:max-w-none">
      <div>
        <h2 class="text-base text-indigo-600 font-semibold tracking-wide uppercase">About</h2>
        <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 dark:text-slate-200 sm:text-4xl">Niklas Stephenson</h3>
      </div>
    </div>
    <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
      <div class="relative lg:row-start-1 lg:col-start-2">

        <div class="relative text-base mx-auto max-w-prose lg:max-w-none">
          <figure>
            <div class="aspect-w-12 aspect-h-7 lg:aspect-none">
              <img class="rounded-lg shadow-lg object-cover object-center" src="<%= image_path 'niklas.jpg' %>" alt="Niklas Stephenson" width="1200" height="1500">
            </div>
          </figure>
        </div>
      </div>
      <div class="mt-8 lg:mt-0">

        <div class="mt-5 prose prose-indigo text-gray-300 mx-auto lg:max-w-none lg:row-start-1 lg:col-start-1">
          <p>Hi, stranger 👋</p>
          <p>I am Niklas, a product leader and founder from Denmark, but most importantly, a noob dad trying to learn how to make a tiny human into an incredible being. </p>

          <p>I have a lengthy background in starting companies and growing them to a decently small size; my core focus always has been leading products in B2B focused SaaS areas. </p>

          <p>In 8th grade, my friends loved going to LAN parties and gaming all night; I sucked at games but loved being with my friends, so I started to poke around the internet while my friends were headshotting each other. I ended up in Notepad, learning to write basic HTML. From there, it developed into an interest in design, and over the years, I started to take part in open source and do a bit of freelancing.</p>

          <p>In 2009 I tried to buy a business phone system for my small freelance gig. The products I was offered by the telcos back then were all super old school, and before we knew it, my co-founder and I had started to build our first SaaS, a business phone system. </p>

          <p>Since then, I have been madly in love with the dynamics of SaaS products; I love that you have to deliver value to retain customers continuously, and delivery mechanisms are super fun and fast. </p>

          <p>Today I spend my time with the incredible team at AutoUncle when I am not out sailing or tinkering with projects at home.</p> 
        </div>
      </div>
    </div>
  </div>
</div>