---

bodyclass: index

---
<div class="bg-gradient-to-b from-indigo-50 to-indigo-100 dark:bg-none mb-16 dark:border-b dark:dark:border-slate-700 dark:text-slate-400 dark:bg-slate-900">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="text-base font-semibold text-indigo-600 tracking-wide uppercase">Niklas Stephenson</h2>
      <p class="mt-5 text-4xl font-extrabold text-gray-900 dark:text-slate-200 sm:text-5xl sm:tracking-tight lg:text-6xl">Thoughts on building products</p>
      <p class="max-w-xl mt-8 mx-auto text-xl text-gray-500 dark:text-slate-200">Building SaaS products is a complex challenge; scaling the organization around it is even more complicated. I have tried to succeed in the two since I was young and have mostly failed. This blog is me trying to put words on what has worked. </p>
    </div>
  </div>
</div>

	
    <% blog.articles.each do |article| %>
      <div class="mx-5 lg:mx-auto border-b-2 pb-16 mb-16 border-gray-300 dark:border-slate-700 prose prose-indigo prose-lg text-gray-500 dark:text-slate-200">
        <a href="<%= article.url %>" class="text-gray-900 dark:hover:text-white no-underline hover:underline">
          <h1 class="text-gray-900 dark:text-white mb-0"><%= article.title %></h1>
        </a>
        <p class=" text-gray-500">
          <%= article.summary %>
        </p>
        <div class="mt-3">
          <a href="<%= article.url %>" class="no-underline inline-flex items-center rounded-md border border-transparent bg-indigo-600 dark:bg-indigo-900 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            Read full story
            <svg  class="ml-3 -mr-1 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </a>
        </div>
      </div>
    <% end %>