

<p>Thoughts on building products</p>
<p>Building SaaS products is a complex challenge; scaling the organization around it is even more complicated. I have tried to succeed in the two since I was young and have mostly failed. This blog is me trying to put words on what has worked.</p>


<% blog.articles.each do |article| %>
  <article class="mb-16">
    <a href="<%= article.url %>">
      <h2 class="font-iawriterbold text-xl underline decoration-green-600 decoration-wavy font-iawriterbold text-xl decoration-3"><%= article.title %></h2>
    </a>
    <p>
      <%= article.summary %>
    </p>

      <a href="<%= article.url %>">
        Read full story
      </a>
  </article>
<% end %>