<div class="mb-16 dark:text-slate-400 dark:bg-slate-900">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <p class="mt-5 text-4xl font-extrabold text-gray-900 dark:text-slate-200 sm:text-5xl sm:tracking-tight lg:text-6xl">Thanks, that's awesome!</p>
      <p class="max-w-xl mt-8 mx-auto text-xl text-gray-500">Excellent that you enjoyed the ready enough to subscribe! I will do my best to deliver more great reads. All my emails are always sent from my personal email, so don't hesitate to reply with feedback!</p>
    </div>
  </div>
</div>